*{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(180deg, #0e0e16 ,transparent);
    padding: 1vw 0vw;
    position: sticky;
    top: 0vw;
    backdrop-filter: blur(4px);
    z-index: 3;
}
.header-nav{
    display: flex;
    column-gap: 21vw;
}
.brand-container{
    display: flex;
    height: auto;
    width: 13vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vh 1vw;
    color: #f6f6f9;
}
.logo{
    height: auto;
    width: 2.6vw;
    border-radius: 50%;
    border: 0.2vw solid #f6f6f9;
}
.brand{
    font-size: 2vw;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 27vw;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;
    border-radius: 2vw;
    color: #f6f6f9;
    background-color: #1e2142;
}
.nav-item{
    font-size: 1.5vw;
}
#active{
    color: rgb(136, 191, 255);
}
.navbar2{
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    justify-content: center;
    align-items: center;
    column-gap: 3vw;
    border-radius: 1.8vw;
    color: #f6f6f9;
    background-color: #4f81ff;
    height: auto;
}
body{
    background-color: #0e0e16;
    overflow-x: hidden;
}
.radial-1{
    position: relative;
    background-image: radial-gradient(41.33% 41.33% at 50% 50%, rgba(55, 50, 121, 0.89) 0px, #0e0e16 100%);
    height: 70vw;
    width: 70vw;
    right: -40vw;
    top: -10vw;
    z-index: -2;
}
.animation-card-container{
    position: absolute;
    display: flex;
    z-index: -1;
    right: 4vw;
    top: 11vw;
    padding: 1vw 2vw;
    align-items: center;
    flex-wrap: wrap;
    height: 30vw;
    width: 40vw;
    row-gap: 3vw;
}
.card{
    position: relative;
    height: 7vw;
    width: 30vw;
    display: flex;
    column-gap: 3vw;
    color: #f6f6f9;
    z-index: -1;
    right: -4vw;
    top: -2vw;
    padding: 1vw 2vw;
    align-items: center;
    border-radius: 2vw;
    flex-wrap: nowrap;
    background-image:linear-gradient(145deg, rgb(74, 70, 127) 4.89%, rgb(70, 68, 125) 50%, rgb(30, 29, 62) 102%);
    justify-content: center;
}
.card-img{
    width: 6vw;
    border-radius: 50%;
}
.card-discription{
    margin-left: 1vw;
}
