*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: linear-gradient(180deg, #0e0e16 ,transparent);
    padding: 1vw 0vw;
    position: sticky;
    top: 0vw;
    backdrop-filter: blur(4px);
    z-index: 3;
}
.header-nav{
    display: flex;
    column-gap: 21vw;
}
.brand-container{
    display: flex;
    height: auto;
    width: 13vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vh 1vw;
    color: #f6f6f9;
}
.logo{
    height: auto;
    width: 2.6vw;
    border-radius: 50%;
    border: 0.2vw solid #f6f6f9;
}
.brand{
    font-size: 2vw;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 27vw;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;
    border-radius: 2vw;
    color: #f6f6f9;
    background-color: #1e2142;
}
.nav-item{
    font-size: 1.5vw;
}
#active{
    color: rgb(136, 191, 255);
}
.navbar2{
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    justify-content: center;
    align-items: center;
    column-gap: 3vw;
    border-radius: 1.8vw;
    color: #f6f6f9;
    background-color: #4f81ff;
    height: auto;
}
body{
    min-height: 100vh;
    background-color: #0e0e16;
    overflow-x: hidden;
}
.radial-1{
    position: relative;
    background-image: radial-gradient(41.33% 41.33% at 50% 50%, rgba(55, 50, 121, 0.89) 0px, #0e0e16 100%);
    height: 70vw;
    width: 70vw;
    left: 40vw;
    bottom: 10vw;
    z-index: -2;
    overflow: hidden;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card .content{
    display: flex;
    align-items: center;
}
.wrapper .card{
    background: #fff;
    width: 430px;
    display: flex;
    align-items: center;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: space-between;
    border-radius: 100px 20px 20px 100px;
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
}
.wrapper:hover .card{
    animation-play-state: paused;
}
.wrapper .card:last-child{
    animation-delay: calc(3s * var(--delay));
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}
.wrapper .card .img{
    height: 90px;
    width: 90px;
    position: absolute;
    left: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.card .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card .detials{
    margin-left: 80px;
}
.detials span{
    font-weight: 600;
    font-size: 18px;
}
.card a{
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
}
.heading{
    position: relative;
    bottom: 53vw;
    left: 8vw;
    color: white;
    width: 35vw;
    font-size: 1.5vw;
    color: #b3aca2;
    height: auto;
}
.i-heading{
    font-size: 3.1vw;
    margin-bottom: 2vw;
    color: white;
}
.radial-2{
    position: relative;
    background-image: radial-gradient(41.33% 41.33% at 50% 50%, rgba(55, 50, 121, 0.89) 0px, #0e0e16 100%);
    height: 70vw;
    width: 70vw;
    right: 18vw;
    bottom: 47vw;
    z-index: -2;
}
.body-1{
    position: relative;
    top: 18vw;
    left: 19vw;
    width: 50vw;
    height: auto;
}
.body1-text{
    position: relative;
    color: white;
    bottom: 90vw;
    left: 56vw;
    width: 40vw;
    height: auto;
}
.body-1-heading{
    font-size: 4vw;
    line-height: 3vw;
}
.body-1-discription{
    margin-top: 3vw;
    font-size: 1.3vw;
    color: #b3aca2;
}
.radial-3{
    position: relative;
    background-image: radial-gradient(50.05% 50% at 39.06% 50%, #217ea0 0%, #0e0f3b 66.12%);
    height: 90vw;
    width: 90vw;
    left: 38vw;
    bottom: 81vw;
    z-index: -2;
}
.body-2{
    position: relative;
    top: 30vw;
    left: 10vw;
    width: 50vw;
    height: auto;
}
.body2-text{
    position: relative;
    color: white;
    bottom: 136vw;
    left: 2vw;
    width: 40vw;
    height: auto;
}
.body-2-heading{
    font-size: 4vw;
    line-height: 3vw;
}
.body-2-discription{
    margin-top: 3vw;
    font-size: 1.3vw;
    color: #b3aca2;
}
.radial-4{
    position: relative;
    background-image: radial-gradient(47.45% 47.4% at 39.98% 39.34%,rgb(255 203 142/40%) 0%,#0e0f3b 70%);
    height: 70vw;
    width: 90vw;
    right: 2vw;
    bottom: 124vw;
    z-index: -2;
}
.body-3{
    position: relative;
    top: 10vw;
    left: 11vw;
    width: 50vw;
    height: auto;
}
.body3-text{
    position: relative;
    color: white;
    bottom: 175vw;
    left: 66vw;
    width: 28vw;
    height: auto;
}
.body-3-heading{
    font-size: 4vw;
    line-height: 3vw;
}
.body-3-discription{
    margin-top: 3vw;
    font-size: 1.3vw;
    color: #b3aca2;
}
div{
    overflow-y: hidden;
}
